.env
quotes/electromagnetism_climate_change.json
quotes/electromagnetism_global_poverty_2024.json
quotes/electromagnetism_wildfire_california.json
quotes/j_c_maxwell_biography_climate_change.json
quotes/j_c_maxwell_biography_global_poverty_2024.json
quotes/j_c_maxwell_biography_wildfire_california.json
quotes/salem_witch_trials_climate_change.json
quotes/salem_witch_trials_global_poverty_2024.json
quotes/salem_witch_trials_wildfire_california.json
quotes/Backup1/electromagnetism_climate_change.json
quotes/Backup1/electromagnetism_global_poverty_2024.json
quotes/Backup1/electromagnetism_wildfire_california.json
quotes/Backup1/j_c_maxwell_biography_climate_change.json
quotes/Backup1/j_c_maxwell_biography_global_poverty_2024.json
quotes/Backup1/j_c_maxwell_biography_wildfire_california.json
quotes/Backup1/salem_witch_trials_climate_change.json
quotes/Backup1/salem_witch_trials_global_poverty_2024.json
quotes/Backup1/salem_witch_trials_wildfire_california.json
quotes/Backup2/electromagnetism_climate_change.json
quotes/Backup2/electromagnetism_global_poverty_2024.json
quotes/Backup2/electromagnetism_wildfire_california.json
quotes/Backup2/j_c_maxwell_biography_climate_change.json
quotes/Backup2/j_c_maxwell_biography_global_poverty_2024.json
quotes/Backup2/j_c_maxwell_biography_wildfire_california.json
quotes/Backup2/salem_witch_trials_climate_change.json
quotes/Backup2/salem_witch_trials_global_poverty_2024.json
quotes/Backup2/salem_witch_trials_wildfire_california.json
quotes/Backup3/electromagnetism_climate_change.json
quotes/Backup3/electromagnetism_global_poverty_2024.json
quotes/Backup3/electromagnetism_wildfire_california.json
quotes/Backup3/j_c_maxwell_biography_climate_change.json
quotes/Backup3/j_c_maxwell_biography_global_poverty_2024.json
quotes/Backup3/j_c_maxwell_biography_wildfire_california.json
quotes/Backup3/salem_witch_trials_climate_change.json
quotes/Backup3/salem_witch_trials_global_poverty_2024.json
quotes/Backup4/electromagnetism_climate_change.json
quotes/Backup4/electromagnetism_global_poverty_2024.json
quotes/Backup4/electromagnetism_wildfire_california.json
quotes/Backup4/j_c_maxwell_biography_climate_change.json
quotes/Backup4/j_c_maxwell_biography_global_poverty_2024.json
quotes/Backup4/j_c_maxwell_biography_wildfire_california.json
quotes/Backup4/salem_witch_trials_climate_change.json
quotes/Backup4/salem_witch_trials_global_poverty_2024.json
quotes/Backup4/salem_witch_trials_wildfire_california.json
__pycache__/AlbertEinsteinQuote.cpython-312.pyc
__pycache__/AuthoritativeSource.cpython-312.pyc
__pycache__/AuthorQuote.cpython-312.pyc
__pycache__/CarlSaganQuote.cpython-312.pyc
__pycache__/EdgarAllanPoeQuote.cpython-312.pyc
__pycache__/ElectromagnetismSource.cpython-312.pyc
__pycache__/ErnestHemingwayQuote.cpython-312.pyc
__pycache__/JCMaxwellBiographySource.cpython-312.pyc
__pycache__/KarlSaganQuote.cpython-312.pyc
__pycache__/QuoteAgent.cpython-312.pyc
__pycache__/SalemWitchTrialsSource.cpython-312.pyc
__pycache__/SourceAgent.cpython-312.pyc
__pycache__/XAIAgent.cpython-312.pyc
debug/quotes..txt
sources/electromagnetism_source.json
sources/j_c_maxwell_biography_source.json
sources/salem_witch_trials_source.json
.gitignore
climate_1.txt
electromagnetism_source.json
salem_witch_trials_source.json
whildfire_1.txt
powerty_1.txt
powerty_2.txt
powerty_3.txt
powerty_4.txt
whildfire_2.txt
whildfire_3.txt
whildfire_4.txt
example_3.py
example_4.py
example_5.py
example_6.py
example_7.py
PostsFactory.py
